h1 {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#mainSection {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.job{
  display: inline-block;
}

.jobImageDiv {
  display: inline-block;
}

#header {
  padding: 10px;
  background: whitesmoke;
}

.companyLogo {
  margin: 5px;
  padding: 5px;
  width: 60px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.timeRange{
  color: gray;
}

#jobPosition{
  color: gray;
}

.profilePic {
  display: block;
  margin: auto;
  padding: 5px;
  width: 130px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.langsAndTools{
  margin: auto;
  padding: 5px;
  width: 30px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.langsdiv{
  display: block;
}

#languagesData{
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  width: 323px;
}

#jobExperience{
  width: 345px;
}

.jobDescription{
  color: #2b2b2b;
  font-size: 89%;
}

#personalInfo{
  width: 345px;
}

#aboutMe{
  color: #2b2b2b;
}

.yearsOfExp{
  color: black
}

#languagesMain{
  width: 323px;
}

@media (width: 800px) {
  #languagesMain {
    position: absolute;
    left: 40px;
    top: 560px;
  }
}
