h1 {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#mainSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-flow: row wrap;
}

.job{
  display: inline-block;
}

.jobImageDiv {
  display: inline-block;
}

#header {
  padding: 10px;
  background: whitesmoke;
}

.companyLogo {
  margin: 5px;
  padding: 5px;
  width: 60px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.timeRange{
  color: gray;
}

.jobPosition{
  color: gray;
}

.profilePic {
  display: block;
  margin: auto;
  padding: 5px;
  width: 130px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.langsAndTools{
  margin: auto;
  padding: 5px;
  width: 30px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.langsdiv{
  display: block;
}

#languagesData{
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  width: 323px;
}

/* @media (max-width: 40em) {
  .tname {
    display: none;
  }
} */