.flex-container{
  display: flex;
  flex-direction: column-reverse;
}

#questions{
  display: flex;
  height: 9em;
  padding-left: 10px;
}

#capitalAnswer{
  text-transform: capitalize;
  letter-spacing: 3px;
}

#stateFlag{            
  width:120px;
  height:120px;
  float: left;
  background: transparent url(escudos.png);   
}